<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
    <ul>
    <% @profile.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :full_name %><br />
    <%= f.text_field :full_name %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday %>
  </div>
  <div class="field">
    <%= f.label :overview %><br />
    <%= f.text_area :overview %>
  </div>
  <div class="field">
    <%= f.label :featured_image_url %><br />
    <%= f.text_field :featured_image_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
