<p class="notice"><%= notice %></p>

<p>
  <b>Full name:</b>
  <%= @profile.full_name %>
</p>

<p>
  <b>First name:</b>
  <%= @profile.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @profile.last_name %>
</p>

<p>
  <b>Birthday:</b>
  <%= @profile.birthday %>
</p>

<p>
  <b>Overview:</b>
  <%= @profile.overview %>
</p>

<p>
  <b>Featured image url:</b>
  <%= @profile.featured_image_url %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
