<h1>Listing inquiry_choices</h1>

<table>
  <tr>
    <th>Option copy</th>
    <th>Option value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inquiry_choices.each do |inquiry_choice| %>
  <tr>
    <td><%= inquiry_choice.option_copy %></td>
    <td><%= inquiry_choice.option_value %></td>
    <td><%= link_to 'Show', inquiry_choice %></td>
    <td><%= link_to 'Edit', edit_inquiry_choice_path(inquiry_choice) %></td>
    <td><%= link_to 'Destroy', inquiry_choice, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inquiry choice', new_inquiry_choice_path %>
