<p class="notice"><%= notice %></p>

<p>
  <b>Option copy:</b>
  <%= @inquiry_choice.option_copy %>
</p>

<p>
  <b>Option value:</b>
  <%= @inquiry_choice.option_value %>
</p>


<%= link_to 'Edit', edit_inquiry_choice_path(@inquiry_choice) %> |
<%= link_to 'Back', inquiry_choices_path %>
