

<div id="inner-content" class="content-scroll">


  <a class="prev browse left"></a>

  <div id="scrollable_video_list" class="scrollable">   
   
     <div class="items">
      
             <div>
                <a class="myPlayer" 
                
                	href="/219_active_model.flv">
                </a>
            </div>
             <div>
                <a class="myPlayer" 
                
                	href="/213_calendars.flv">
                </a>
            </div>
      </div>
  </div>

  <a class="next browse right"></a>

  <% @videos.each do |video| %>
    <%= video.title %>
      <%= video.url %>
      <%= link_to 'Show', video %>
      <%= link_to 'Edit', edit_video_path(video) %>
      <%= link_to 'Destroy', video, :confirm => 'Are you sure?', :method => :delete %>

  <% end %>

<%#= link_to 'New Video', new_video_path %>
</div>