<% content_for :head do %>
  <%= javascript_include_tag "fullcalendar.js" %>
<script type="text/javascript">
  $(document).ready(function() { 
    $('#calendar').fullCalendar({ })
  });
  </script>
<% end %>

<div class="inner-content">
  
  
  
<div id="scrollable_list">
  <a class="prev browse left"></a>
  <div class="scrollable">
     <div class="items">

        <!-- 1-5 -->
        <% @events.each_slice(5) do |slice| %>

        <%# books.each do |book| %>
  	      <div>
  	        <% slice.each do |event| %>
  	        <div class="item common_feature">
                <%= link_to image_tag(event.source.primary_image.url, :style => 'width:100%'), event_path(event) %>
            </div>
  					
  					<% end %>
  	      </div>

        <% end %>

     </div>
    
  </div>
  <a class="next browse right"></a>
</div>
 
  <div class="inner-content">
  <div id="calendar" >
    
  </div>
  <div id="sortable-events" class="content-scroll">
  
  <h1>Listing events</h1>

  <table>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Official url</th>
      <th>Topic</th>
      <th>Organization</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @events.each do |event| %>
    <tr>
      <td><%= event.title %></td>
      <td><%= event.description %></td>
      <td><%= event.start_time %></td>
      <td><%= event.end_time %></td>
      <td><%= event.source.official_url %></td>
      <td><%#= event.topic %></td>
      <td><%= event.organization %></td>
      <td><%= link_to 'Show', event %></td>
      <td><%= link_to 'Edit', edit_event_path(event) %></td>
      <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Event', new_event_path %>
  </div>
</div>
<script type="text/javascript">

$(function() {

	// initialize scrollable
	$(".scrollable").scrollable();
 
  
});
</script>