<%= form_for(@venue) do |f| %>
  <% if @venue.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>
    <ul>
    <% @venue.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :street_address %><br />
    <%= f.text_field :street_address %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :region %><br />
    <%= f.text_field :region %>
  </div>
  <div class="field">
    <%= f.label :postal_code %><br />
    <%= f.text_field :postal_code %>
  </div>
  <div class="field">
    <%= f.label :instructions %><br />
    <%= f.text_area :instructions %>
  </div>
  <div class="field">
    <%= f.label :hours %><br />
    <%= f.text_field :hours %>
  </div>
  <div class="field">
    <%= f.label :grand_opening %><br />
    <%= f.datetime_select :grand_opening %>
  </div>
  <div class="field">
    <%= f.label :grand_closing %><br />
    <%= f.datetime_select :grand_closing %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
