

<div class="inner-content">


<div id="scrollable_book_list">
  <!-- "previous page" action -->
  <a class="prev browse left"></a>

  <!-- root element for scrollable -->
  <div class="scrollable">   
    <div class="items">

        <% @books.each_slice(5) do |slice| %>
  	      <div>
  	        <% slice.each do |book| %>
  	        <div class="item common_feature">
                <%= link_to image_tag(book.source.primary_image.url, :style => 'width:100%'), book_path(book) %>
            </div>
  					
  					<% end %>
  	      </div>

        <% end %>
     
  </div>
  </div>
  
  <a class="next browse right"></a>
  </div>
  <div id="sortable-books" class="content-scroll">
  
   <h1>Listing books</h1>

   <table>
     <tr>
       <th>Title</th>
       <th>Edition</th>
       <th>Description</th>
       <th>Print date</th>
       
       <th>Publisher</th>
     </tr>

   <% @books.each do |book| %>
     <tr>
       <td><%= book.title %></td>
       <td><%= book.edition %></td>
       
       <td><%= book.print_date %></td>
       
       <td><%= book.publisher %></td>
       <td><%= link_to 'Show', book %></td>
       <td><%= link_to 'Edit', edit_book_path(book) %></td>
       <td><%= link_to 'Destroy', book, :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
    <% end %>
  </table>

  <br />
</div>
   <%= link_to 'New Book', new_book_path %>
<script type="text/javascript">
$(function() {

	// initialize scrollable
	$(".scrollable").scrollable();

});
</script>


 


