<div class="inner-content">
    
    <div class="left-content content-floater">
      <h1><%= @book.title %></h1>
      <%= @book.description %>
    </div>
    <div class="right-sidebar content-floater book_detail">
      <div class="thumbnail">
        <%= image_tag @book.source.primary_image.url, :style => 'width:100%' %>
      </div>
      <div class="extras"> 
            <%= link_to 'gbooks', @book.source.official_url%>
            <span class="separator"> • </span>
            <%= link_to 'Edit', edit_book_path(@book) %> 
            <span class="separator"> • </span>
      </div>
      <div class="stats">
        <%= @book.edition %>
        <%= @book.print_date %><br/>
        <%= @book.publisher %>
      </div>
    </div>

</div>

<p class="notice"><%= notice %></p>


