<p class="notice"><%= notice %></p>
<%= image_tag @book.source.primary_image.url %>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Description:</b>
  <%= @book.description %>
</p>

<p>
  <b>Print date:</b>
  <%= @book.print_date %>
</p>

<p>
  <b>Edition:</b>
  <%= @book.edition %>
</p>

<p>
  <b>Publisher:</b>
  <%= @book.publisher %>
</p>

<p>
  <b>Official url:</b>
  <%= @book.source.official_url %>
</p>

<p>
  <b>Source code url:</b>
  <%= @book.source_code_url %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
